<div style="font-size: 62px; text-align: center;margin-top: 10%;">Coming Soon</div>
<div style="font-size: 32px; text-align: center;margin-top: 2%; border-top: 5px solid black; padding-top: 2%;"><%=@player.name%></div>
<div style="font-size: 32px; text-align: center;"><%=@player.position%></div>