<div class="footer_container" id="footer">
  <div class="footer_tab" onclick="openFooterEdit()"></div>
  <div class="link_to_container">
    <div> Register new: </div>
    <div>
        <div style="display: inline; width: 20  px;">  </div>
      <%= link_to " EVENT ", new_event_path %>
        <div style="display: inline; width: 20  px;"> / </div>
      <%= link_to " MATCH ",  new_match_path %>
        <div style="display: inline; width: 20  px;"> / </div>
      <%= link_to " TEAM ",  new_team_path %>
    </div>
  </div>
</div>